/* Universal settings */
html {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
}
section {
  width: 100%;
  display: flex;
}
h1  {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #687083;

}


.button {
  border-radius: 1px;
  background-color: #5D5C61;
  color: #FFFFFF;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Header */

header {
  	position: fixed;
  	z-index: 100;
 	  width: 100%;
  	height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  	border-bottom: solid 1px #c6c1c1;
  	background-color: white;

}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo span {
  font-size: 1.1rem;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 1.6rem;
}

#colmar {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #1B202B;
}

#academy {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #687083;
}
header img {
	vertical-align: center;
	width: 1.5rem;
  padding-left: 1.5rem;
}

header .logo {
  flex: 1;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;

}

ul li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #1B202B;
}
header .mobile {
  display: none;
}

/*Header - Mobile*/

@media only screen and (max-width: 768px) {
  header .logo span, header nav {
    display: none;
  }

  nav.mobile, nav.mobile ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;

  }

}

/*Banner*/

section.banner {

  background-color: #cdcdc0;
}

.banner-img {
  width: 60%;
  height: auto;
  margin: 32px 40px 32px 24px;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 320px;
}

.banner-content a {
  background-color: #1B202B;
  width: 100%;
  margin-right: 16px;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
  transition: all 500ms ease 250ms;
}

.banner-content a:hover {
  background-color: #557A95;
  color: #1B202B;
}

/*Banner @1024px*/

@media only screen and (max-width: 1024px) {
  .banner-img {
    width: 50%;
    margin-left: 16px;
  }

  .banner-content a {
    width: 90%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

/*Banner - Mobile*/

@media only screen and (max-width: 768px) {
  section.banner {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .banner-img {
    width: 100%;
    height: 180px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 0px 0px 0px;
  }

  .banner-img img {
    display: none;
  }

  .banner-content {
    margin: 32px 16px 32px 16px;
    text-align: center;
  }

  .banner-content a, .banner-content h1, .banner-content h2 {
    width: 100%;
    margin-right: 0px;
  }
}

/*Information*/

.feature-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.feature-content img {
  width: 100%;
  height: auto;
  margin-bottom: 32px
}

.feature-content h5 {
  margin-bottom: 24px;

}

.feature-content span {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #687083;
  margin-top: 30px;

}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 40%;
}
.information {
  padding-top: 1rem;
}
.sidebar-block:hover {
  background-color: #C5CAD7;
}
.sidebar-block {
  display: inline-flex;
  align-items: center;
  width: 100%;
  transition: all 500ms ease 250ms;
}

.sidebar-block img {
  width: 35%;
  padding: 1rem;
}

.sidebar-mobile {
  display: none;
}

.textbox {
  margin-right: 1rem;
}

.textbox p {
  font-family: "Quattrocento Sans", sans-serif;
  margin-bottom: 1.25rem;
}

.textbox a {
  font-family: "Quattrocento Sans", sans-serif;
  color: #1C32BA;
  font-size: 0.9rem;
  text-decoration: none;
}

/*Information @1024px*/

@media only screen and (max-width: 1024px) {
  .feature-content {
    width: 50%;
    margin-left: 16px
  }

  .sidebar {
    width: 50%;
  }
}

/*Information - Mobile*/

@media only screen and (max-width: 768px) {
  section.information {
    justify-content: center;
  }

  .feature-content {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .sidebar.information {
    display: none;
  }

  .sidebar-mobile {
    display: flex;
    flex-direction: column;
  }

  .sidebar-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    transition: all 500ms ease 250ms;
  }
  .sidebar-block:hover {
  background-color: #C5CAD7;
  }
  .sidebar-block img {
    width: 90%;
    max-width: 480px;
    height: auto;
  }

  .textbox {
    width: 90%;
    margin: 16px 16px 16px 32px;
  }

}
.button {
	  width:95%;
  	border-radius: 1px;
  	background-color: #5D5C61;
  	text-align: center;
  	padding-top: 0.5rem;
  	padding-bottom: 0.5rem;
}

.button a{
	color:#FFFFFF;
}
/*Courses*/

.courses {
  display: block;
  background-color: #ADADAD;
}

.courses h5 {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 4rem;

}

.course-holder {
  width: 260px;
  background-color: white;
  margin-right: 32px;
  margin-bottom: 16px;
  transition: all 500ms ease 250ms;
}

.course-holder img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.course-holder .textbox {
  width: 220px;
  height: 140px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.course-holder .textbox span {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  color: #687083;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}
.course-holder:hover{
  background-color: #C5CAD7;
  color: #373737;
}

.courses-mobile {
  display: none;
}

/*Courses @1024px*/

@media only screen and (max-width: 1024px) {
  .courses {
    padding-left: 16px;
  }

  .course-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .course-holder {
    margin-left: 16px;
    margin-right: 16px;
  }
}

/*Courses - Mobile*/

@media only screen and (max-width: 768px) {
  section.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px
  }
  .courses {
    background-color: #FFFFFF;
  }
  .courses h5 {
    padding-bottom: 32px;
  }

  .course-container {
    display: none;
  }

  .courses-mobile {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: center;
    width: 90%;
    max-width: 480px;
    margin-bottom: 32px;
    transition: all 500ms ease 250ms;
  }

  .courses-mobile h6 {
    background-color: #C5CAD7;
    padding: 16px;
    margin-bottom: 8px;
  }

}
/*Thesis*/

.thesis {
  display: block;
}

.thesis h5 {
  width: 100%;
  text-align: center;
  padding-top: 32px;
  padding bottom: 32px;
}

.thesis-content {
  display: inline-flex;
}

.video {
  margin-right: 1rem;
}

video {
  margin-bottom: 1.5rem;
  border: 2px solid #C5CAD7;
}

.video-mobile {
  display: none;
}

#thesis {
  border-left: none;
  margin-top: 2rem;
}

#thesis div:hover{
  background-color: #C5CAD7;
  padding-top: 0px;
}

/*Thesis @1024px*/

@media only screen and (max-width: 1024px) {
  .thesis h5 {
    padding-left: 16px;
    margin-bottom: 16px;
  }
}

/*Thesis - Mobile*/

@media only screen and (max-width: 768px) {
  .video-mobile {
    display: block;
  }
}

/*Footer*/

footer {
  height: 64px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid #C5CAD7;
}

footer span {
  margin-left: 24px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 0.75rem;
  color: #687083;
}

footer nav ul li a {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 0.75rem;
  color: #687083;
}

/*Footer Mobile*/

@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }

  footer {
    border-top: 0px solid #C5CAD7;
    height: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
/* Special effects */
/* Dropdown Button */
.dropbtn {
    background-color: #C5CAD7;
    color: #000000;
    width: 18rem;
    padding: 1rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.course-mobile-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #f1f1f1}*/

/* Show the dropdown menu on hover */
.course-mobile-dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.course-mobile-dropdown:hover .dropbtn {
    background-color: #557A95;
}
h2 {
	font-family: 'Montserrat', sans-serif;
}